header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 0 24px;
    background-color: #0D47A1;
    position: relative;
    height: 70px;
}

section {
    max-width: 1100px;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto 20px;
}

article {
    display: block;
}

article.search {
    margin: 35px 0;
    padding: 0;
    border-radius: 28px;
    background: white;
}

article.search input {
    background: 0 0;
    border: none;
    border-radius: 28px;
}

article.search input {
    padding: 0 18px;
    line-height: 56px;
    height: 56px;
    font-size: 22px;
    color: #444;
    text-align: center;
    width: 100%;
}

 body header { 
    transition: padding 215ms
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property: padding;
    transition-duration: 215ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
}


header .logo-site {
    margin-right: 36px;
}

.logo-site {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: -1.5px;
    white-space: nowrap;
}

header .search {
    color: #fff;
    position: relative;
}

header .search input {
    line-height: 32px;
    border: none;
    border: 1px solid;
    padding: 0 34px 0 10px;
    border-radius: 3px;
    width: 220px;
    color: #fff;
}

header .search button {
    height: 32px;
    border: none;
    background-color: 0 0;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
}

header .search button svg {
    display: block;
    width: 24;
    height: 24;
}

header nav {
    display: flex;
    flex-grow: 1;
    line-height: 72px;
    font-weight: 400;
    white-space: nowrap;
}

header nav a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 70px;
    margin: 0;
    padding: 0 15px;
    position: relative;
}

header nav div.submenu {
    position: relative;
    display: inline-block;
}

header nav div.submenu div {
    position: absolute;
    left: 0;
    top: 70px;
    background: #fff;
    display: none;
    box-shadow: 0 1px 4px 0;
}

header nav div.submenu div:hover a{
    display: block;
    position: absolute;
}

header nav div.submenu div a {
    line-height: 40px;
    height: 40px;
    color: #303030;
    display: none;
    white-space: nowrap;
    border-top: 1px solid #ddd;
    font-size: 14px;
}


header nav a.active, header nav a:hover, header nav div:hover a {
    background-color: rgba(255, 255, 255, .12);
}

/*Setinha NAV */
header nav div.submenu > a::after {
    content: '\25BC';
    font-size: 10px;
    margin-left: 12px;
    opacity: .25;
}

header nav div.submenu div a {
    display: none;
    line-height: 40px;
    height: 40px;
    white-space: nowrap;
    color: black;
    border-top: 1px solid #ddd;
    font-size: 14px;
}


body {
    background-color: #e5e5e5;
}

* {
    color: red;
}