header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    padding: 0 24px;
    background-color: #0D47A1;
    position: relative;
    height: 70px;
}

section {
    max-width: 1100px;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto 20px;
}

article {
    display: block;
}

article.search {
    margin: 35px 0;
    padding: 0;
    border-radius: 28px;
    background: white;
}

article.search input {
    background: 0 0;
    border: none;
    border-radius: 28px;
}

article.search input {
    padding: 0 18px;
    line-height: 56px;
    height: 56px;
    font-size: 22px;
    color: #444;
    text-align: center;
    width: 100%;
}

 body header { 
    transition: padding 215ms
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-property: padding;
    transition-duration: 215ms;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: 0s;
}


header .logo-site {
    margin-right: 36px;
}

.logo-site {
    color: #fff;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: -1.5px;
    white-space: nowrap;
}

header .search {
    color: #fff;
    position: relative;
}

header .search input {
    line-height: 32px;
    border: none;
    border: 1px solid;
    padding: 0 34px 0 10px;
    border-radius: 3px;
    width: 220px;
    color: #fff;
}

header .search button {
    height: 32px;
    border: none;
    background-color: 0 0;
    padding: 0 8px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -16px;
}

header .search button svg {
    display: block;
    width: 24;
    height: 24;
}

header nav {
    display: flex;
    flex-grow: 1;
    line-height: 72px;
    font-weight: 400;
    white-space: nowrap;
}

header nav a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 70px;
    margin: 0;
    padding: 0 15px;
    position: relative;
}

header nav div.submenu {
    position: relative;
    display: inline-block;
}

header nav div.submenu div {
    position: absolute;
    left: 0;
    top: 70px;
    background: #fff;
    display: none;
    box-shadow: 0 1px 4px 0;
}

header nav div.submenu div:hover a{
    display: block;
    position: absolute;
}

header nav div.submenu div a {
    line-height: 40px;
    height: 40px;
    color: #303030;
    display: none;
    white-space: nowrap;
    border-top: 1px solid #ddd;
    font-size: 14px;
}


header nav a.active, header nav a:hover, header nav div:hover a {
    background-color: rgba(255, 255, 255, .12);
}

header nav div.submenu div a {
    display: none;
    line-height: 40px;
    height: 40px;
    white-space: nowrap;
    color: black;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.pokemon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon h2{
    font-size: 18px;
    margin: 7px 10px 0;
}

.family {
    display: flex;
    margin-bottom: 20px;
}

.pokemon .bar {
    width: 100%;
    height: 4px;
    position: absolute;
    background:  rgba(0, 0, 0, .05);
    bottom: 0;
    left: 0;
}

.pokemon .bar .value {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #42a5f5;
    opacity: .8;
}

.type {
    padding: 4px 9px;
    line-height: 1.3;
    display: inline-block;
    color: #fff;
    cursor: default;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgb(0, 0, 0 / 80%);
    font-weight: 700;
}

.pokemon-Grass {
    background-color: #78c850;
}

.pokemon-Poison {
    background-color: #a040a0;
}

.pokemon .types {
    margin: 5px 10px 10px;
    font-size: 12px;
    opacity: .8;
}

.pokemon .types {
    margin: 4px 10px 10px;
    font-size: 12px;
    opacity: .8;
}

.pokemon .types .type:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pokemon .types .type:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.family .gen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
}

.family .gen .pokemon:hover {
    background: #e8f5e9;
}

.family .pokemon {
    width: 250px;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 5px;
    margin-bottom: 2px;
}

.family .pokemon img {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 12px;
    top: 6px;
}

.family .pokemon .id {
    position: absolute;
    top: 1px;
    right: 4px;
    font-size: 11px;
    color: #bbb;
}

.filtro {
    background: #fafafa;
    box-shadow: 0 1px 5px;
}

.filtro.seletores {
    color:rgba(255, 255, 255, .8);
    border-bottom: 3px solid rgba(13, 71, 161, .5);
}

.filtro.seletores {
    display: flex;
    justify-content: space-around;
    line-height: 38px;
}

a {
    color: #4078c8;
    text-decoration: none;
}

body {
    background-color: #e5e5e5;
}

* {
    color: red;
}